@charset "utf-8";
body {
	height:1030px;
	width:640px;
	margin:0px auto;
	
}

.main {
	height:1030px;
	width:640px;
	background-repeat:no-repeat;
	background-image:url("../imgs/界面(2).JPG");
	background-size:contain;
}

.a {
	width: 130px;
	height: 150px;
	position: relative;
	top: 808px;
	left: 33px;
}
.a:hover{
	position: relative;top:774px;left:33px;
}
.b{
	width: 150px;
	height: 175px;
	position: relative;
	top: 650px;
	left: 250px;
	background: no-repeat url("../imgs/b1.png");
}
.b:hover{
	position: relative;top:610px;left:250px;
	background-image: url("../imgs/b2.png");
}
.c{
	width: 170px;
	height: 170px;
	position: relative;
	top: -230px;
	left: 480px;
	background: no-repeat url("../imgs/c1.png")
}
.c:hover{
	position: relative;top:-230px;left:440px;
	background-image: url("../imgs/c2.png");
	background-size: cover;
}
.back{
	width:100px;
	height:40px;
	background-color: #D8C7B7;
	border:solid #BD8661;
	position:relative;left:260px;top:-240px;
	text-align: center;
	color:#946B4E;
	font-style:italic;
	font-family: 隶书;
	font-size: 32px;
}
.back:hover{
	box-shadow:0px 0px 7px 7px ;
}
.bt{
	width: 130px;
	height: 150px;
}